
<img src = "assets/img/burger.jpg" alt = "Burger Image" class="burgerImg"/>

<h1 class="header">Eat-Da-Burger!</h1>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
      <button data-id="{{this.id}}" class="btnDevoured">Devour it!</button>
    {{/unless}}
  {{/each}}
</ul>

<ul class="devouredUl">
  {{#each burgers}}
    {{#if devoured}}
       {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul> 


<br>
<form class="create-form">
  <div class="form-group">
    <input type="text" id="ca" name="name" autocomplete="off">
  </div>
  <p id="errorMsg"></p>

  <button type="submit" class="submit">Submit</button>
  
</form>

<h5>Enter burger you want to eat. Click the Submit button</h5>
