ul {
  display: inline-block; 
  *display: inline; 
  margin-right: 100px;
  text-align: left;
}

li {
    padding: 5px;
    margin: 5px;
    list-style: none;
  }

  .devoured{
    display: inline;
  }
  .btnDevoured{
    float: right;
    margin-left: 40px;
  }
  
  .burgerImg {
      width: 100px;
      height: 100px;
  }

  .header {
    color: red;
  }

  body {
      background-color: sandybrown;
      text-align: center;
      margin-top: 50px;
  }

  #ca {
    height:50px;
    width: 300px;
    line-height: 1.8em;
    font-size:12pt;
  }

  .submit {
    background-color: steelblue;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 80px;
    font-size: 18px;
  }
  
  .devouredUl {
    position: relative;
    
  }

  .btnDevoured {
    display:inline-block;
  }
  /* .ul__element {
    display: inline-block;
  } */

