ul {
  display: inline-block; 
  margin-right: 200px;
  text-align: left;
  margin-top: 15px;
}

#errorMsg {
  color:red;
}

li {
    margin: 5px;
    list-style: none;
    width: fit-content;
  }

  .devoured{
    display: inline;
  }

  .btnDevoured{
    float: right;
    margin-left: 40px;
    background-color: darkorange;
  }
  
  .burgerImg {
      height: 200px;
  }

  .header {
    color: red;
    font-family: cursive;
  }

  body {
      text-align: center;
      margin-top: 10px;
      opacity:0.8;
  }

  #ca {
    height:50px;
    width: 300px;
    line-height: 1.8em;
    font-size:12pt;
  }

  .submit {
    background-color: rgb(39, 39, 216);
    color: white;
    font-weight: bold;
    height: 40px;
    width: 80px;
    font-size: 18px;
  }
  
  .devouredUl {
    margin-left: 200px;
    font-family: cursive;
    margin-top: 15px;
  }


