/* li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
   */
  .burgerImg {
      width: 100px;
      height: 100px;
  }

  .header {
    color: red;
  }

  body {
      background-color: sandybrown;
  }